task01

In [ ]:
a_tuple = ("The Institute", ("Best Mystery & Thriller", "The Silent Patient", 68821), 75717,
[1, 2, 3, 400, 5, 6, 7], ("Best Fiction", "The Testaments", 98291))
print(a_tuple[3][3])

400

task02

In [ ]:
tuple1=(10, 20, 24, 25, 26, 35, 70)
print(tuple1[2:-2])

(24, 25, 26)

task03

In [ ]:
book_info = (("Best Mystery & Thriller","The Silent Patient",68,821),
("Best Horror","The Institute",75,717),
("Best History & Biography","The five",31,783 ),
("Best Fiction","The Testaments",98,291))
print("Size of this tuple:", len(book_info))
for i in book_info:
  print(i)

Size of this tuple: 4
('Best Mystery & Thriller', 'The Silent Patient', 68, 821)
('Best Horror', 'The Institute', 75, 717)
('Best History & Biography', 'The five', 31, 783)
('Best Fiction', 'The Testaments', 98, 291)

Task04

In [ ]:
book_info = (("Best Mystery & Thriller","The Silent Patient",68821),
("Best Horror","The Institute",75717),
("Best History & Biography","The five",31783 ),
("Best Fiction","The Testaments",98291))
a,b,c,d=book_info
print(a[1],"won the","'"+a[0]+"'","cateory with",a[2],"votes")
print(b[1],"won the","'"+b[0]+"'","cateory with",b[2],"votes")
print(c[1],"won the","'"+c[0]+"'","cateory with",c[2],"votes")
print(d[1],"won the","'"+d[0]+"'","cateory with",d[2],"votes")

The Silent Patient won the 'Best Mystery & Thriller' cateory with 68821 votes
The Institute won the 'Best Horror' cateory with 75717 votes
The five won the 'Best History & Biography' cateory with 31783 votes
The Testaments won the 'Best Fiction' cateory with 98291 votes

Task05

In [ ]:
tuple1=(10, 8, 5, 2, 10, 15, 10, 8, 5, 8, 8, 2)
count=0
user_input=int(input())
for i in tuple1:
  if user_input==i:
    count=count+1
print(user_input,"appears",count,"times in the tuple")

5
5 appears 2 times in the tuple

task06

In [ ]:
tuple1=(10, 20, 30, 40, 50, 60)
#print(tuple1[::-1])
list1=list(tuple1)
tuple2=tuple(list1[::-1])
print(tuple2)

(60, 50, 40, 30, 20, 10)
(60, 50, 40, 30, 20, 10)

Task07

In [ ]:
dict1={'Harry':15, 'Draco':8, 'Nevil':19}
dict2={'Ginie':18, 'Luna': 14}
dict1.update(dict2)
print(dict1)

{'Harry': 15, 'Draco': 8, 'Nevil': 19, 'Ginie': 18, 'Luna': 14}

In [ ]:
dict1={'Harry':15, 'Draco':8, 'Nevil':19}
dict2={'Ginie':18, 'Luna': 14}
dict3={}
for key,value in dict1.items():
  dict3[key]=[value]
for key,value in dict2.items():
  dict3[key]=value  
print(dict3)

{'Harry': [15], 'Draco': [8], 'Nevil': [19], 'Ginie': 18, 'Luna': 14}

Task08

In [ ]:
user_input=input()
user_input1=user_input[1:-1]
input2=user_input1.split(", ")
#print(input2)
dict1={}
for i in input2:
  input3=i.split(":")
  #print(input3[0][1:-1])
  dict1[input3[0][1:-1]]=int(input3[1])
    
print(dict1)
sum=0
count=0
for key in dict1:
  sum=sum+dict1[key]
  count=count+1  
print("Average is:",sum//count)

{'Jon': 100, 'Dan':200, 'Rob':300}
{'Jon': 100, 'Dan': 200, 'Rob': 300}
Average is: 200

In [ ]:
lst = [i for i in input()[1:-1].split(',')]
print(lst)

{'Jon': 100, 'Dan':200, 'Rob':300}
["'Jon': 100", " 'Dan':200", " 'Rob':300"]

In [ ]:
dict1={}
n=int(input())
for key in range(n):
  key=input()
  value=int(input())
  dict1[key]=value
print(dict1)
count=0
sum=0
for value in dict1.values():
  sum=sum+value
  count=count+1
print("Average is",sum//count)

4
Jon
100
Dan
200
Rob
30
Ned
110
{'Jon': 100, 'Dan': 200, 'Rob': 30, 'Ned': 110}
Average is 110

Task09

In [ ]:
exam_marks = {'Cierra Vega': 175, 'Alden Cantrell': 200, 'Kierra Gentry': 165, 'Pierre Cox': 190}
dict1={}
user_input=int(input())
for key in exam_marks:
  if user_input<=exam_marks[key]:
    dict1[key]=exam_marks[key]
print(dict1)

180
{'Alden Cantrell': 200, 'Pierre Cox': 190}

In [ ]:
dict1={'sci fi': 12, 'mystery': 15, 'horror': 8, 'mythology': 10, 'young_adult': 4, 'adventure':14}
highest=0
for key in dict1:
  if dict1[key]>highest:
    highest=dict1[key]
    key1=key
print("The highest selling book genre is",key1,"and the number of books sold are",highest)

The highest selling book genre is mystery and the number of books sold are 15

Task11

In [ ]:
user_input=input()
user_input1=user_input[1:-1].lower()
dict1={}
for key in user_input1:
  if key!=" ":
    if key in dict1:
      dict1[key]=dict1[key]+1
    else:
      dict1[key]=1
print(dict1)

"Python programming is fun"
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 2, 'n': 3, 'r': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 's': 1, 'f': 1, 'u': 1}

Task12

In [ ]:
dict_1 = {'A': [1, 2, 3], 'b': ['1', '2'], "c": [4, 5, 6, 7]}
count=0
for key in dict_1:
  for i in dict_1[key]:
    count=count+1
print(count)

9

Task13

In [ ]:
list1 = [("a", 1), ("b", 2), ("a", 3), ("b", 1), ("a", 2), ("c", 1)]
dict1={}
for i in list1:
  a,b=i
  if a not in dict1:
    dict1[a]=[b]
    #print(dict1)
  else:
    dict1[a]= dict1[a]+[b]
    #print(dict1)
print(dict1)

{'a': [1, 3, 2], 'b': [2, 1], 'c': [1]}